aiohttp==3.8.1
aiosignal==1.2.0
async-timeout==4.0.2
attrs==21.4.0
charset-normalizer==2.1.0
colorama==0.4.5 # Unstipulated requirement needed by integrations-py enhanced
discord-py-interactions==4.3.0
enhanced @ git+https://github.com/interactions-py/enhanced@9b3631cd4d2b491d0e40763c07b1338264e29458
frozenlist==1.3.0
idna==3.3
multidict==6.0.2
python-dotenv==0.20.0
typing_extensions==4.3.0
yarl==1.7.2
